body{
  font-family: 'Noto Sans SC', sans-serif;
  margin-top: 0;
  background-color: rgb(15, 15, 15);
}

*{
  box-sizing: border-box;
}
.center{
  max-width: 1200px;
  margin: 0 auto;
}

.main-header{
  display: flex;
  justify-content: space-between;
  height: 70px;
/*  background-color: rgb(48, 46, 46);*/
  color: aliceblue;
/*  flex-wrap: wrap;*/
}

.title{
  padding: 1em .8em;
  font-size: 1.5em;
}
.main-header img{
  height: 130px;
  position: relative;
  z-index: 10;
}

.first-child{
  display: flex;
}

.second-child{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

svg[class^="svg"]{
  height: 30px;
  width: 30px; 
}

.lang,
.login{
  display: flex;
  padding: .5em 1em;
}

.lang:hover,
.login:hover{
  background-color: rgb(59, 59, 59);
  cursor: pointer;
}

.form-search{
  display: flex;
  padding: .08em;
  border: 1px solid rgb(236, 236, 233);
  border-radius: .3em .2em;
  margin: 0 1em;
}

.form-search input,
.form-search button{
  border: none;
  background-color: transparent;
}

.form-search button{
  border-left: 1px solid rgb(236, 236, 233);
  display: flex;
  margin: 0;
  color: aliceblue;
  cursor: pointer;
}

.form-search button:hover{
  background-color: rgb(65, 62, 62);
  font-weight: bolder;
}


.main-nav{
  color: white;
  background-color: rgba(32, 29, 28, 0.753);
  display: flex;
}


.main-nav > :first-child{
  margin-left: calc(130px + 1em);}

.main-nav > * {
  position: relative;
  padding: 0 1.5em 0 1em;

}


.jw-home:hover {
  cursor: pointer;
}

.main-nav  *:hover {
  background-color: rgba(75, 68, 68, 0.959);
  cursor: pointer;
}

.main-nav  *::before {
  padding-right: .3em;
  line-height: 1.5;
}

.hero-image{
  height: 500px;
  width: 1200px;
  margin: auto;
  background-image: url(https://cms-imgp.jw-cdn.org/img/p/502000203/univ/art/502000203_univ_lss_lg.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.text-container{
  background-color: rgba(0, 0, 0, 0.589);
  height: 500px;
  width: 44%;
  margin-left: auto;
  transform: skew(14deg);
  position: absolute;
  right: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 150px;
  font-size: 1.3em;
}

.content{
  transform: skew(-14deg);
}

.btn{
  background-color: rgb(74, 109, 167);
  padding: .2em .5em;
  color: white;
  font-weight: bold;

}

.btn:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(33, 88, 151);
}

.center-small{
  width: 1100px;
  margin: auto;
}

.articles-recommendation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.recomendation-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: .6em 0 .7em;

}

.recomendation-title a{
  font-size: 1.1rem;
  padding: .1em .5em;
  color: white;
}

.recomendation-title a:hover{
  background-color: rgb(17, 51, 105);
  text-decoration: none;
}


.article-recommendation{
  width: 31.5%;
}


.article-recommendation a:nth-child(2){
  line-height: 2.5;
  color:  rgb(17, 51, 105);
  color: white;
}

.study-bible{
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
}
.item-1{
  display: flex;
  width: 50%;
  border-right: 1px solid aliceblue;
  padding-right: 1em;
}

.item-1 img {
  padding: 0 1em 0 0;
}

.item-1-title a{
  font-size: 1.3em;
}

.item-2{
  width: 50%;
  padding-left: 1em;
  padding-right: 1em;
}

.item-2 p{
  margin-top: 0;
  font-size: 1.3em;
  color: rgba(240, 248, 255, 0.781);
  width: 90%;
  margin-left: 5%;
}

.item-2 a{
  background-color: rgb(74, 109, 167);
  display: flex;
  width: fit-content;
  color: white;
  padding: .5em .3em .4em .9em;
  margin-left: 5%;
}

.item-2 a:hover{
  background-color: rgb(33, 88, 151);
  display: flex;
  width: fit-content;
  color: white;
}


.topics{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topic{
  width: 32.5%;
  height: 100px;
  margin-bottom: .5em;
  background-size: cover;
  position: relative;
}


.topic:nth-child(2){
  background-image: linear-gradient(rgba(0,0,0,.3) 50%,rgba(0,0,0,.9) 100%) , url(https://cms-imgp.jw-cdn.org/img/p/1011202/univ/art/1011202_univ_pnr_md.jpg)

}

.topic:nth-child(3){
  background-image: linear-gradient(rgba(0,0,0,.3) 50%,rgba(0,0,0,.9) 100%) , url(https://cms-imgp.jw-cdn.org/img/p/1011556/univ/art/1011556_univ_pnr_md.jpg);
}

.topic:nth-child(4){
  background-image: linear-gradient(rgba(0,0,0,.3) 50%,rgba(0,0,0,.9) 100%) , url(https://cms-imgp.jw-cdn.org/img/p/1011580/univ/art/1011580_univ_pnr_md.jpg);
}

.topic:nth-child(5){
  background-image: linear-gradient(rgba(0,0,0,.3) 50%,rgba(0,0,0,.9) 100%) , url(https://cms-imgp.jw-cdn.org/img/p/1011205/univ/art/1011205_univ_pnr_md.jpg);
}

.topic:nth-child(6){
  background-image: linear-gradient(rgba(0,0,0,.3) 50%,rgba(0,0,0,.9) 100%) , url(https://cms-imgp.jw-cdn.org/img/p/1011206/univ/art/1011206_univ_pnr_md.jpg);
}

.topic:nth-child(7){
  background-image: linear-gradient(rgba(0,0,0,.3) 50%,rgba(0,0,0,.9) 100%) , url(https://cms-imgp.jw-cdn.org/img/p/1011204/univ/art/1011204_univ_pnr_md.jpg);
}

.topic:nth-child(8){
  background-image: linear-gradient(rgba(0,0,0,.3) 50%,rgba(0,0,0,.9) 100%) , url(https://cms-imgp.jw-cdn.org/img/p/1011552/univ/art/1011552_univ_pnr_md.jpg);
}

.topic:nth-child(9){
  background-image: linear-gradient(rgba(0,0,0,.3) 50%,rgba(0,0,0,.9) 100%) , url(https://cms-imgp.jw-cdn.org/img/p/1011569/univ/art/1011569_univ_pnr_md.jpg);
}

.topic:nth-child(10){
  background-image: linear-gradient(rgba(0,0,0,.3) 50%,rgba(0,0,0,.9) 100%) , url(https://cms-imgp.jw-cdn.org/img/p/1011233/univ/art/1011233_univ_pnr_md.jpg);
}


.topics-title{
  width: 100%;
  margin-bottom: 1em;
}

.topic--text{
  width: fit-content;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.call-to-action{
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

[class^="action"]{
  width: 20%;
}

[class^="action"] img{
  border-radius: 50%;
}

.call-to-action--text{
  text-align: center;
}

.home-video{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-h2{
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 2em;
}

.video-link{
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: .5em;
  font-size: 1.3em;

}


.video-image{
  width: 1200px;
  height: 400px;
  margin-top: 1em;
  background-image: url(https://cms-imgp.jw-cdn.org/img/p/502016517/univ/art/502016517_univ_pnr_lg.jpg)
}

.video-content{
  position: relative;
  top: -100px;
  background-color: rgba(241, 241, 241, 0.9);
  height: 280px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  color: black;
  padding: 1em;
}

.video-content p{
  width: 100%;
  font-size: 1.3em;
}

.video-title{
  font-size: 1.5em;
}

.video-title a{
  color: inherit;
  font-size: 1.5em;
}


.button-text a{
  display: flex;
  background-color: rgb(74, 109, 167);
  padding: .2em .5em;
  color: white;
}

.button-text a:hover{
  background-color: rgb(33, 88, 151);
}